/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#background{
  width: 100%;
  height: 40%;
  position: absolute;
  top: 0;
  left: 0;
  background: url('https://artylope.github.io/css-positioning/img/bgtile.png');
  background-size: cover;
  z-index: -99;
}

#phones{

}

.wrapper{
  height: 100%;
  margin-top: 100px;
  margin-bottom: 50px;
  max-width: 960px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 53%;
  margin-left: 50px;

  .brand-login{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;

    .brand{
      #instagram-logo{
        align-items: flex-start;
      }
    }

    .login{

      button{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        border-radius: 3px;

        color: #eee;
        font-weight: bold;
        background: rgb(69,118,158);
        background: linear-gradient(0deg, rgba(69,118,158,1) 0%, rgba(105,146,178,1) 100%);
        padding: 10px 20px;
        border: 1px solid #295d86;
        img{
          margin-right: 10px;
        }
      }

    }
  }

  .content-background{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:url('../img/frame.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: cover;
    padding: 50px;
    z-index: 40;

    .content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;

      .features{

        h1{
          font-size: 24px;
          margin-bottom: 20px;
          font-weight: bold;
          color: #06365f;
          line-height: 1.3;
        }

        .description{
          p{
            margin-bottom: 20px;
            line-height: 1.4;
          }
        }
      }

    }
  }

}

.appbadges{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-items: center;

  #badge-ios{
    background: url('../img/badge-iphone.png');
  }

  #badge-android{
    background: url('..//img/badge-android.png');
  }

}




.footer{
  max-width: 960px;
  nav{
    display: inline-block;
  }
}
